html, body {
  height: 100%;
  width: 100%;
  
}

body { 
background: url(app/anime/pictures/back.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

header > .navbar{
    margin-bottom: 0px;
}

.fixed-div
{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 999;
}

.container-fluid{
    margin-top: 52px;
}

.row h1{
    text-align: center;
    color: white;
}

.left-column{

}

.center-column{
    background-color: #333333;
    color: aliceblue;
}

.right-column{

}

.form-group{
    margin-bottom: 50px;
}

.inline-group{
    margin: 20px 0px 20px 0px;
    float: right;
}

.list-group-item{
    background-color: #333333;
    border: none;
}

.list-group-item a{
    background-color: #1e1e1e;
    color: white;
}

h2.list-group-item{
    color: #cb8056;
}

