*{margin:0;}

html, body {
  height: 100%;
  width: 100%;
  
}

body { 
background: url(app/anime/pictures/back.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

header{
   
}
header > .navbar{
    margin-bottom: 0px;
}

.row h1{
    text-align: center;
    color: white;
}

.left-column{
    
}

.container-fluid{
    height: 100%;
}

.row{
   height:100%;
    min-height:100%;
}

.center-column{
    background-color: #333333;
    color: aliceblue;
    height:100%;
    min-height:100%;
    overflow: hidden;
}

.scrollContainer{
    overflow-y: scroll;
    height:70%;
    min-height:70%;
}

.right-column{
   
}

.form-group{
    margin-bottom: 50px;
}

.inline-group{
    margin: 20px 0px 20px 0px;
}

.list-group-item{
    background-color: #333333;
    border: none;
}

.list-group-item a{
    background-color: #1e1e1e;
    color: white;
}

h2.list-group-item{
    color: #cb8056;
}

