<h1>Zone 2</h1>

<p>Recherche d'animés !</p>

<form class="form-group">
    <div class="input-group">
        <input ng-model="searchAnimeController.query" type="text" class="form-control">
        <span class="input-group-btn">
           <button ng-click="searchAnimeController.search()" " type="button" class="btn btn-primary">Search</button>
         </span>
    </div>

    <div class="inline-group">
        <button ng-click="searchAnimeController.sortByTitle() " type="button" class="btn btn-default btn-xs">Trier par titre</button>
        <button ng-click="searchAnimeController.sortByScore() " type="button" class="btn btn-default btn-xs">Trier par note</button>
    </div>

</form>

<div class="list-group">
    <anime-item anime="anime" ng-repeat="anime in searchAnimeController.animes" class="list-group-item"></anime-item>
</div>

<!-- "| animeFilter:searchAnimeController.sortProperty" -->